
.icon {
  margin-right: 0.2em;
}

.elche {
  color: inherit;
  transition: color 300ms linear;
}

.elche .icon-sun {
  transition: opacity 200ms linear;
}

.elche .icon-sun {
  opacity: 0;
}

.elche:hover {
  color: gold;
  text-decoration: none;
}

.elche:hover .icon-sun {
  opacity: 1;
}

.social {
  font-size: 19px;
}

.social .icon {
  color: #333;
}

section > ul > li {
  font-size: 16px;
  margin-bottom: 1em;
}

.tags {
  display: inline-block;
  margin-left: 1em;
}

.js {
  background-color: #f15501; 
}

.php {
  background-color: #6e03c1; 
}

.css {
  background-color: #1f085e;
}

.cpp {
  background-color: #f34b7d;
}