
body {
  background-color: #F5F5F5;
}

.wrapper {
  border-radius: 3px;
  box-shadow: 0 0 8px #DFDFDF;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 660px;
  background-color: white;
  padding: 0 1em;
}

@media screen and (max-width: 660px) {
  .wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1 {
  margin-top: 15px;
}

.lead {
  margin-bottom: 15px;
}

header {
  text-align: center;
}

p {
  margin: 0.5em 0px 10px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.icon {
  margin-right: 0.2em;
}

.elche {
  color: inherit;
  transition: color 300ms linear;
}

.elche .icon-sun {
  transition: opacity 200ms linear;
}

.elche .icon-sun {
  opacity: 0;
}

.elche:hover {
  color: gold;
  text-decoration: none;
}

.elche:hover .icon-sun {
  opacity: 1;
}

.social {
  text-align: center;
}

.social .btn:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}

section > ul > li {
  font-size: 16px;
  margin-bottom: 0.5em;
}

.projects > ul > li {
  margin-bottom: 1.5em;
}

.projects > ul > li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 660px) {
  .tech {
    list-style-type: none;
    padding-left: 0;
  }
}

@media screen and (min-width: 660px) {
  .tags {
    display: inline-block;
    margin-left: 1em;
    float: right;
  }
}

.js {
  background-color: #f15501;
}

.php {
  background-color: #6e03c1;
}

.css {
  background-color: #1f085e;
}

.cpp {
  background-color: #f34b7d;
}
